.log-in {
  padding: 2rem 3rem;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.input-login-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 20px;
  font-size: 20px;
  background-color: white;
}

.button-container {
  display: flex;
  justify-content: center;
}

.list-container {
  display: flex;
}

.title {
  font-size: 30px;
  margin-bottom: 20px;
}
